// main: main.scss
// Add event form

// Vars
$form-padding: 16px;
$cell-padding: 10px;

.card-header {
  background: url('https://static.pexels.com/photos/39562/the-ball-stadion-football-the-pitch-39562-large.jpeg') no-repeat;
  background-size: cover;
  position: relative;

  .card-item-bg {
    background: rgba(0,0,0,0.25);
    color: #fff;
  }
}
.form-item {
  padding: $form-padding;
}


.header {
  color: #9e9e9e;
  background: #424242;
  padding: 16px 8px;
}
.logo {
  color: #fff;
  float: left;
  border: solid 2px #fff;
  padding: 16px 24px;
  width: 28%;
  text-align: center;
}
.sidebar {
  background: #dedede;
}
.content {
  background: #ecf0f1;
  border-right: 2px solid #ccc;
}
.mdl-navigation {
  float: right;;
}
.mdl-navigation__link {
  color: #fff;
  margin: 0 20px;
}
.mdl-badge {
  cursor: pointer;
}

//content
.attenders {
  margin: 10px 0;
}
.attenders-pics {

  img {
    max-width: 100%;
    width: 75px;
    margin: 0 5px 5px 0;
  }
}

//Footer
.mdl-mini-footer__left-section {
  margin: 0 auto;
}

//grid override
.mdl-grid {
  padding: 0;

  .mdl-cell {
    margin: 0;
    padding: $cell-padding;

    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
  .mdl-cell--4-col {
    width: 33.3%;
  }
  .mdl-cell--8-col {
    width: 66.7%;
  }
}
